filter-bar {
  margin-top: 30px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: repeating-linear-gradient(
    45deg,
    #ffd400,
    #ffd400 20px,
    white 20px,
    white 24px
  );
  border: 2px solid black;
  border-radius: 12px;
  padding: 16px 28px;
  box-shadow: 0 6px 15px 0 rgba(200, 180, 20, 0.09);
  width: fit-content;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.filter-bar button {
  background-color: #33aaff;
  color: #fff;
  border: 2px solid #0073ca;
  border-radius: 6px;
  padding: 8px 18px;
  font-weight: bold;
  font-family: "Comic Sans MS";
  font-size: 18px;
  margin-left: 6px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
  box-shadow: 1px 2px 5px 0 rgba(0, 70, 140, 0.13);
}
.filter-bar button:hover {
  background-color: #0073ca;
  color: #ffe600;
  border-color: #005590;
}

.filter-bar input[type="text"],
.filter-bar input[type="search"] {
  font-size: 19px;
  font-family: "Comic Sans MS";
  padding: 6px 10px;
  border: 2px solid #0073ca;
  border-radius: 6px;
  font-weight: 700;
  background: #eaf6ff;
  color: #003368;
  width: 220px;
  box-shadow: 1px 2px 5px 0 rgba(0, 70, 140, 0.07);
  outline: none;
  transition:
    border 0.2s,
    background 0.2s;
}
.filter-bar input[type="text"]:focus,
.filter-bar input[type="search"]:focus {
  border-color: #005590;
  background: #d5eaff;
}

.filter-bar select {
  font-size: 19px;
  font-family: "Comic Sans MS";
  padding: 6px 10px;
  border: 2px solid #0073ca;
  background: #33aaff;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
  box-shadow: 1px 2px 5px 0 rgba(0, 70, 140, 0.1);
  outline: none;
  transition:
    background 0.2s,
    color 0.2s;
}
.filter-bar select:focus {
  border-color: #005590;
  background: #0073ca;
  color: #ffe600;
}

.sectionTitle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  color: #0073ca;
  margin-bottom: 4px;
  font-size: 20px;
}
