header {
  position: relative;
  width: 100%;
  height: 15vh;
  border-bottom: 1px solid black;
  background-color: #bfe5fd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud {
  position: absolute;
  width: 10%;
}

.cloud1 {
  left: 10%;
  top: 10%;
}
.cloud2 {
  right: 10%;
  top: 5%;
}

.cloud3 {
  top: 35%;
  right: 30%;
}

.cloud4 {
  top: 35%;
  left: 30%;
}

.logo {
  display: flex;
  align-items: center;
  height: 70%;
}

.imagelog {
  height: 150%;
}

.text {
  text-align: center;
  color: black;
  font-family: "Comic Sans MS";
  font-size: large;
  font-weight: bold;
}
