/* Тёмный фон на весь экран */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: repeating-linear-gradient(
    45deg,
    #ffd400,
    #ffd400 20px,
    white 20px,
    white 24px
  );
  padding: 20px 30px;
  border-radius: 10px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content button {
  background-color: #e74c3c;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.2s;
}

.modal-content h2 {
  text-align: center;
  color: black;
  font-family: "Comic Sans MS";
}

.modal-fields {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* ГЛАВНОЕ: расположение coordinates и governor вертикально справа */
.modal-fields > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Координаты */
.coordinates-block {
  flex: 1;
  min-width: 200px;
  background: #f9f9ff;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: black;
  font-family: "Comic Sans MS";
  background: red;
  margin-bottom: 0;
}

/* Губернатор */
.governor_block {
  flex: 1;
  min-width: 200px;
  background: #f9f9ff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: black;
  font-family: "Comic Sans MS";
  background: red;
  margin-top: 0;
}

.coordinates-block button,
.governor_block button {
  background-color: #1976d2;
  text-align: center;
}
.climate-select,
.capital-select {
  width: 50%;
  text-align: center;
}

.establishmentDate-select {
  width: 60%;
  text-align: center;
}
